body{
    margin: 35px;
}
section{
    display: grid;
    grid-template: 150px 150px 150px/ 1fr 1fr 1fr 1fr 1fr;
gap: 30px;

}
h1{
    font-size: 50px;
    margin-top: 0;
}
.e{
    position: relative;
    background-color: rgb(255, 255, 255);
    grid-column: 1/4;
    display: flex;
    align-items: center;
     border: 1px solid ;
}
.r{
    background-color: rgb(255, 255, 255);
    grid-row:1/4;
    grid-column:4/6 ;
}
img{
    height: 125px;
    margin-left: 30px;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.300);}
    .f{
        font-size: 40px;
        margin-top: 0;
        color: rgba(0, 0, 0, 0.466);
    }
    .qw{
        display: flex;
        flex-direction: column-reverse; 
        gap: 20px;
        margin-top: 6px;
    }
    .ui{
        height: 40px;
    }
    .u{
     height: 40px;  
background-color: forestgreen;
color: white;
    }
    button h3{
        margin: 0px;
    }
    .zx{
        display: grid;
        grid-template: 50px 50px/1fr 1fr;
    }
    .qwe{
        font-size: 50px;
        font-weight: bold;
    }
    .gt{
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
    }
    .tre{
        position: absolute;
        top: 0;
        left: 170px;
        font-size: 20px;
    }
    .e button{
        height: 40px;
        width: 50px;
        font-size: 30px;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.156);
    }
    .asd{
        font-weight: bold;
        font-size: 40px;
        margin-left: 30px;
    }
    .xyz{
        border: 1px solid ;
        font-size: 40px;
        width: 80px;
        height: 40px;
        text-align: center;
        border-color: rgba(0, 0, 0, 0.156);
    }
.dfg{
    margin-left: 200px;
}